/**************************************
 EASY IMPLEMENTATION FOR FIXED ELEMENTS
***************************************/
.fixed{
  position:fixed !important;
  width:100%;
}
.hide {
  visibility:hidden;
}
.inline {
  display:inline-block;
}
#questionfield {
  width:85%;
}

/*************************************
 VED'S 3 PANEL IMPLEMENTATION
**************************************/
.panel {
  padding:10px;
  position:absolute;
  top:50px;
  bottom:0px;
  z-index:4;
  overflow:auto;
  width:25%;
  border-left: 1px solid rgba(39, 41, 43, 0.15)
}
.panel.one {
  left:0px;
  width:20%;
  min-width:200px
}
.panel.two {
  left:20%;
  width:50%;
  min-width:400px;
}
.panel.three {
  bottom:2.5rem;
  left:70%;
  width:30%;
  min-width:300px;
}
@media (max-width:900px) {
  .panel.two {
      left:200px;
  }
  .panel.three {
    left:600px;
  }
}
/*************************************
 WELCOME VIEW
**************************************/
.img-bg {
  height:100%;
  background-image: url('https://classmagnet.co/images/header@1440.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
#welcome-elements {
  margin-top:0rem;
}
/*************************************
 CHAT IMPLEMENTATION
**************************************/
.msgin {
  position:fixed;
  bottom:-65px;
  right:0;
  z-index:5;
  width:30%;
  min-width:300px
}
.chatmsg .content {
  display:inline-block;
}
.chatmsg .author {
  font-size:0.8rem;
  display:inline-block;
}
.chatmsg .metadata {
  font-size:0.7rem;
  display:inline-block;
}
.chatmsg .metadata .date {
  font-size:0.7rem;
  color:rgba(77, 77, 77, 0.8);
  display:inline-block;
}
