<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/magnets"><img alt="ClassMagnet Logo" src="//magnt.co/static/img/logo-black@23px.png"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container" ng-controller="ListAnswers">
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#/magnets">Magnets</a></li>
    <li><a href="#/magnets/1">New Venture Creation</a></li>
    <li><a ng-href="#/magnets/1/">Questions</a></li>
    <li class="active">Answer</li>
  </ol>
      <div class="panel panel-default">
      <div class="panel-body">
        <h2>{{currentQuestion.questionText}}</h2>
        <p> Asked by {{currentQuestion.people.fname}} {{currentQuestion.people.lname}}</p>
      </div>
    </div>
    <p ng-if="answerList.length === 0" class="notice-error">There doesn't seem to be anything here, you should post first!</p>
    <form ng-controller="AnswerQuestion" action="#">
          <div class="input-group">
            <input ng-model="answer.answerText" type="text" class="form-control" placeholder="The answer is 42">
            <span class="input-group-btn">
              <button ng-click="answer.submitAnswer()" type="submit" class="btn btn-default" type="button">Answer</button>
            </span>
            <p>{{answerResult}}</p>
          </div><!-- /input-group -->
    </form>
    <div class="list-group">
      <a class="list-group-item" ng-repeat="answer in answerList">
        <h4 class="list-group-item-heading">{{answer.answertext}}</h4>
        <p class="text-left">Posted by {{answer.person.fname}} {{answer.person.lname}}</p>
      </a>
    </div>
</div>
<!--- Modals -->
