<div ng-controller="ListAnswers">
      <div class="panel panel-default">
      <div class="panel-body">
        <h2>{{currentQuestion.questionText}}</h2>
        <p> Asked by {{currentQuestion.people.fname}} {{currentQuestion.people.lname}}</p>
      </div>
    </div>
    <p ng-if="answerList.length === 0" class="notice-error">There doesn't seem to be anything here, you should post first!</p>
    <form ng-controller="AnswerQuestion" action="#">
          <div class="input-group">
            <input ng-model="answer.answerText" type="text" class="form-control" placeholder="The answer is 42">
            <span class="input-group-btn">
              <button ng-click="answer.submitAnswer()" type="submit" class="btn btn-default" type="button">Answer</button>
            </span>
            <p>{{answerResult}}</p>
          </div><!-- /input-group -->
    </form>
    <div class="list-group">
      <a class="list-group-item" ng-repeat="answer in answerList">
        <h4 class="list-group-item-heading">{{answer.answertext}}</h4>
        <p class="text-left">Posted by {{answer.person.fname}} {{answer.person.lname}}</p>
      </a>
    </div>
</div>
<!--- Modals -->
