<div class="catchall" controller="MagnetViewCtrl">
  <div class="ui page grid">
    <div class="right floated left aligned sixteen wide column">
      <magnt-nav></magnt-nav>
    </div>
    <div class="left floated sixteen wide two column row">
      <div class="four wide column">
        <div class="ui card">
          <div class="content">
            <div class="header">{{magnetInfo.name}}</div>
            <div class="description">
              <p>{{magnetInfo.code}}</p>
            </div>
          </div>
          <div class="extra content">
            <span class="left floated">
              <i class="user icon"></i>
              57 people
            </span>
            <span class="right floated star">
              <i class="star icon"></i>
              Subscribe
            </span>
          </div>
        </div>
        <div class="ui card">
          <div class="image">
            <img src="/images/avatar/large/stevie.jpg">
          </div>
          <div class="content">
            <a class="header">Stephen Daze</a>
            <div class="meta">
              <span class="date">uOttawa</span>
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              22 Friends
            </a>
          </div>
        </div>
      </div>
      <div class="twelve wide column">
        <div class="ui segment" ng-controller="MagnetViewCtrl">
          <!--
            <p ng-if="questionList.length === 0" class="notice-error">There doesn't seem to be anything here, you should post first!</p>
            <form ng-controller="AskQuestion" action="#">
                  <div class="input-group affix submitbar">
                    <input ng-model="ask.questionText" type="text" class="form-control" placeholder="What is the meaning of life?">
                    <span class="input-group-btn">
                      <button ng-click="ask.submitQuestion()" type="submit" class="btn btn-default" type="button">Ask</button>
                    </span>
                  </div>
                  <p>{{askResult}}</p>
            </form>
          -->
            <div class="ui divided selection list" ng-controller="QuestionListCtrl">
              <div ng-repeat="question in questionList | orderBy:'-up'" class="item">
                <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/elliot.jpg">
                <div class="content">
                  <div class="header">{{question.people.fname}} {{question.people.lname}}</div>
                  <div class="description">{{question.questionText}}</div>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>
<!--- Modals -->
