<div class="catchall" controller="MagnetViewCtrl">
  <magnt-nav></magnt-nav>
  <div class="panel one">
    <div class="ui card">
      <div class="content">
        <div class="header">{{magnetInfo.name}}</div>
        <div class="description">
          <p>{{magnetInfo.code}}</p>
        </div>
      </div>
      <div class="extra content">
        <span class="left floated">
          <i class="user icon"></i>
          57 people
        </span>
        <span class="right floated star">
          <i class="star icon"></i>
          Subscribe
        </span>
      </div>
    </div>
    <div class="ui large vertical menu">
      <div class="item">
        <div class="ui input"><input placeholder="Search..." type="text"></div>
      </div>
      <div class="item">
        <i class="home icon"></i> Home
        <div class="menu">
          <a class="active item">Search</a>
          <a class="item">Add</a>
          <a class="item">Remove</a>
        </div>
      </div>
      <a class="item">
        <i class="grid layout icon"></i> Browse
      </a>
      <a class="item">
        <i class="mail icon"></i> Messages
      </a>
      <div class="ui dropdown item">
        More
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item"><i class="edit icon"></i> Edit Profile</a>
          <a class="item"><i class="globe icon"></i> Choose Language</a>
          <a class="item"><i class="settings icon"></i> Account Settings</a>
        </div>
      </div>
    </div>
  </div>
  <div class="panel two">
    <div ng-controller="MagnetViewCtrl">
      <p ng-if="questionList.length === 0" class="notice-error">There doesn't seem to be anything here, you should post first!</p>
      <form class="ui segment" ng-controller="AskQuestion" action="#">
        <div class="ui form">
          <div class="field">
            <input ng-model="ask.questionText" type="text" id="questionfield" placeholder="What is the meaning of life?">
            <button ng-click="ask.submitQuestion()" type="submit" class="ui red button" type="button">Ask</button>
          </div>
        </div>
          <p>{{askResult}}</p>
      </form>
<div class="ui segment divided selection list" ng-controller="QuestionListCtrl">
  <div ng-repeat="question in questionList | orderBy:'-up'" class="item">
    <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/elliot.jpg">
    <div class="content">
      <div class="header">{{question.people.fname}} {{question.people.lname}}</div>
      <div class="description">{{question.questionText}}</div>
    </div>
  </div>
</div>
</div>
</div>
<div class="panel three">
  <div ng-controller="chatView">
    <div class="ui segment comment chatmsg" ng-repeat="msg in messagelist | orderBy:'createdat'">
      <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/elliot.jpg">
      <div class="content">
        <a class="author">{{msg.person.fname}} {{msg.person.lname}}</a>
        <div class="metadata">
          <div am-time-ago="msg.createdat" class="date"></div>
        </div>
        <div class="text">
          {{msg.text}}
        </div>
      </div>
    </div>
    <div class="msgin">
      <form ng-controller="chatSend" class="ui reply form">
        <div class="field">
          <input placeholder="Write your message here!" type="text" ng-model="chat.msgText"></input>
        </div>
        <div ng-click="chat.submitMsg()" type="submit" class="hide ui primary submit labeled icon button">
          <i class="icon edit"></i> Add Reply
        </div>
      </form>
    </div>
  </div>
</div>
