<div class="img-bg">
    <div id="welcome-elements" class="ui page grid">
      <div class="three column row">
        <div class="column">
        </div>
        <div class="column welcome">
          <div id="welcomeinfo">
            <h1>Classroom interaction doesn't have to suck</h1>
          </div>
          <div id="welcomecontrol" class="ui aligned center fluid form segment">
            <form ng-controller="WelcomeView">
                <div class="field">
                  <label>Email</label>
                  <input ng-model="login.userEmail" placeholder="kanye@uottawa.ca" type="email">
                </div>
                <div class="field">
                  <label>Password</label>
                  <input ng-model="login.userPassword" placeholder="Password" type="password">
                </div>
              <a ng-click="login.submitLogin()" type="submit"><div class="ui green button">Sign in</div></a>
            </form>
            <div class="ui horizontal divider">
              Or
            </div>
            <div class="ui teal labeled icon button">
              Make a new account
              <i class="add icon"></i>
            </div>
          </div>
        </div>
        <div class="column">
        </div>
      </div>
    </div>
</div>
