<div class="ui menu">
  <a class="active item">
    <i class="home icon"></i> Home
  </a>
  <a class="item">
    <i class="mail icon"></i> Messages
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
      Language <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">English</a>
        <a class="item">Russian</a>
        <a class="item">Spanish</a>
      </div>
    </div>
    <div class="item">
        <div class="ui primary button">Sign Up</div>
    </div>
  </div>
</div>
<div class="ui page grid">
  <div class="eight wide column">
    <h1 class="ui header segment"><i class="huge comments icon"></i>
Welcome to ClassMagnet</h1>
  </div>
  <div class="eight wide column">
    <div class="ui fluid form segment">
      <form ng-controller="WelcomeView">
        <div class="two fields">
          <div class="field">
            <label>Email</label>
            <input ng-model="login.userEmail" placeholder="elon@uottawa.cac" type="email">
          </div>
          <div class="field">
            <label>Last Name</label>
            <input ng-model="login.userPassword" placeholder="Password" type="password">
          </div>
        </div>
        <a ng-click="login.submitLogin()" type="submit"><div class="ui submit button">Sign in</div></a>
      </form>
    </div>
  </div>
</div>
