<div class="ui segment divided list questions">
  <div ng-repeat="question in questionList | orderBy:'-up'" class="item">
    <div class="score">
      <i class="chevron up icon vote"></i>
      <span class="total">{{question.up - question.down}}</span>
      <i class="chevron down icon vote"></i>
    </div>
    <a ng-click="isCollapsed = !isCollapsed; pickQuestion.go(question.id)" class="selectable">
      <div class="questionmeta">{{question.people.fname}} {{question.people.lname}} <span am-time-ago="question.createdat"></span></div>
      <img class="ui questionpic" src="http://semantic-ui.com/images/avatar/small/elliot.jpg">
      <div class="question">
        <div class="questiontext">{{question.questionText}}</div>
      </div>
    </a>
        <div class="answers" ng-if="isCollapsed">
          <magnt-answers></magnt-answers>
        </div>
      </div>
  </div>
</div>
